<mat-card class="tweet">
  <div class="row">
    <div class="col profile-picture">
      <div class="row"><img src="assets/avatar.png" /></div>
      <br />
      <div class="row">
        <button>
          <mat-icon *ngIf="!showReplies" (click)="displayReplies(tweet.id)"
            >chevron_right</mat-icon
          >
          <mat-icon *ngIf="showReplies" (click)="hideReplies()"
            >expand_more</mat-icon
          >
        </button>

        <button>
          <mat-icon (click)="likeTweet(username, tweet.id)">thumb_up</mat-icon>
        </button>
        <button><mat-icon (click)="toggleShowReplyForm()">reply</mat-icon></button>
      </div>
    </div>
    <div class="col content">
      <div class="row username-time">
        <div class="col username">
          <mat-card-content
            ><strong>@{{ tweet.username }}</strong>
          </mat-card-content>
        </div>
        <div class="col time">
          <mat-card-content> {{ tweet.timeAgo }}</mat-card-content>
        </div>
      </div>
      <div class="row message">{{ tweet.message }}</div>
      <br />
      <div class="row tag-actions">
        <div class="col tag">{{ tweet.tag }}</div>
      </div>
    </div>
  </div>
</mat-card>
<div *ngIf="username && showReplyForm">
  <form
    class="example-form col"
    [formGroup]="replyForm"
    (ngSubmit)="replyToTweet()"
  >
    <mat-form-field>
      <mat-label>Reply</mat-label>
      <textarea
        matInput
        placeholder="e.g. What an excellent application!"
        formControlName="message"
        maxlength="144"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tag (optional)</mat-label>
      <input
        matInput
        placeholder="e.g. #superImpressed"
        formControlName="tag"
        maxlength="50"
      />
    </mat-form-field>
    <button type="submit" [disabled]="!replyForm.valid" class="post">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
<div *ngIf="showReplies" class="row">
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col">
    <tweet
      *ngFor="let reply of replies"
      class="tweet reply"
      [tweet]="reply"
      [username]="username"
    ></tweet>
  </div>
</div>
