.profile-picture,
.username {
  padding-right: 10px;
}

.tweet {
  margin-bottom: 10px;
  width: 480px;
}

.reply {
  margin-left: 15px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.time{
  width: 100%;
  text-align: right;
}

.content{
  width: 100%;
}

.message{
  text-align: left;
}
