section {
  display: table;
  width: 40vw;
  min-width: 480px;
}

.account{
  margin-right: 40px;
}

.button-row {
  display: table-cell;
  width: 100%;
}

.button-row .mat-button-base {
  margin: 4px 4px 4px 0;
}

.float-right {
  float: right;
}

.float-left{
  float: left;
}

.search{
  margin-top: 12px;
}