<section>
  <div class="button-row">
    <div class="float-left account">
      <button mat-icon-button routerLink="account" *ngIf="loggedIn">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!loggedIn" disabled="true">
        <mat-icon>no_accounts</mat-icon>
      </button>
    </div>

    <a mat-raised-button routerLink="">Ren's Tweet App</a>

    <div class="float-right row">
      <button mat-icon-button>
        <mat-icon routerLink="users">search</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!loggedIn">
        <mat-icon>login</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="float-right">
        <button mat-menu-item routerLink="login" *ngIf="!loggedIn">
          Log in
        </button>
        <button mat-menu-item routerLink="registration" *ngIf="!loggedIn">
          Register
        </button>
      </mat-menu>
      <button mat-icon-button *ngIf="loggedIn" (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <br />
  </div>
</section>
<mat-divider></mat-divider>
