<h1 *ngIf="!loggedIn">Welcome to Ren's Tweet App</h1>
<h1 *ngIf="loggedIn">Welcome back {{ username }}</h1>
<h2 *ngIf="!loggedIn && !tweets.length">
  Log in/Sign Up and content will appear on this page
</h2>
<div *ngIf="loggedIn">
  <form
    class="example-form col"
    [formGroup]="tweetForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="example-full-width row" appearance="fill">
      <mat-label>What's on your mind?</mat-label>
      <textarea
        matInput
        placeholder="e.g. What an excellent application!"
        formControlName="message"
        maxlength="144"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width row" appearance="fill">
      <mat-label>Tag (optional)</mat-label>
      <input
        matInput
        placeholder="e.g. #superImpressed"
        formControlName="tag"
        maxlength="50"
      />
    </mat-form-field>
    <button type="submit" [disabled]="!tweetForm.valid" class="post">
      <mat-icon>send</mat-icon>
    </button>
  </form>
  <br />
  <hr />
  <br />
</div>
<div *ngIf="tweets">
  <tweet *ngFor="let tweet of tweets" [tweet]="tweet" [username]="username"></tweet>
</div>
