<h1>Account Details</h1> 
<mat-card class="row">
    <div class="col"></div>
    <mat-card-content>Username : {{user.username}}</mat-card-content>	
    <mat-card-content>Name : {{user.firstName}}</mat-card-content>	
    <mat-card-content>Surname : {{user.lastName}}</mat-card-content>	
    <mat-card-content>E-mail : {{user.email}}</mat-card-content>	
    <mat-card-content>Phone : {{user.contactNumber}}</mat-card-content>	
</mat-card>
<br>
<a mat-raised-button *ngIf="user.username" (click)="toggleChangePassword()">Change Password</a>
<br>
<br>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" *ngIf="viewChangePassword">
  <mat-icon matSuffix (click)="hide = !hide">{{
    hide ? "visibility_off" : "visibility"
  }}</mat-icon>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
    />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      [type]="hide ? 'password' : 'text'"
    />
  </mat-form-field>
  <mat-error *ngIf="changePasswordForm.errors?.passwordsNotMatching">Passwords must match</mat-error>
  <br>
  <a mat-raised-button type="submit" [disabled]="!changePasswordForm.valid">Submit</a>
</form>
