<h1>Registration Page</h1>
<p>Please enter your credentials below</p>
<br />

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" [errorStateMatcher]="matcher" />
    <mat-error *ngIf="username.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" [errorStateMatcher]="matcher" />
    <mat-error *ngIf="firstName.hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" [errorStateMatcher]="matcher" />
    <mat-error *ngIf="lastName.hasError('required')">
      Last name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      [errorStateMatcher]="matcher"
      placeholder="e.g. name@email.com"
    />
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Contact Number</mat-label>
    <input
      matInput
      formControlName="contactNumber"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="contactNumber.hasError('required')">
      Contact number is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-icon matSuffix (click)="hide = !hide">{{
    hide ? "visibility_off" : "visibility"
  }}</mat-icon>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      [type]="hide ? 'password' : 'text'"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Please re-enter password
    </mat-error>

  </mat-form-field><mat-error *ngIf="registrationForm.errors?.passwordsNotMatching">
      Passwords must match
    </mat-error>    
  <br />
  <button mat-raised-button type="submit" [disabled]="!registrationForm.valid">
    Submit
  </button>
</form>
