<h1>Login Page</h1>
<p>Sign in to your account</p>
<br />
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="username.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide ? 'password' : 'text'"
    />  <mat-icon matSuffix (click)="hide = !hide">{{
    hide ? "visibility_off" : "visibility"
  }}</mat-icon>
  <mat-error *ngIf="password.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>
  </mat-form-field>
  <br />
  <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
    Submit
  </button>
</form>
